In [108]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn import linear_model
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline
from sklearn.cross_validation import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
sns.set_style("whitegrid")

#Easy Mode Bayes on Spam

In [109]:
email = pd.read_csv("spambase.data", encoding="windows-1252", header=None)
email.head(15)

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.000,0.132,0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.010,0.143,0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.137,0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.135,0,0.135,0.000,0.000,3.537,40,191,1
5,0.00,0.00,0.00,0,1.85,0.00,0.00,1.85,0.00,0.00,...,0.000,0.223,0,0.000,0.000,0.000,3.000,15,54,1
6,0.00,0.00,0.00,0,1.92,0.00,0.00,0.00,0.00,0.64,...,0.000,0.054,0,0.164,0.054,0.000,1.671,4,112,1
7,0.00,0.00,0.00,0,1.88,0.00,0.00,1.88,0.00,0.00,...,0.000,0.206,0,0.000,0.000,0.000,2.450,11,49,1
8,0.15,0.00,0.46,0,0.61,0.00,0.30,0.00,0.92,0.76,...,0.000,0.271,0,0.181,0.203,0.022,9.744,445,1257,1
9,0.06,0.12,0.77,0,0.19,0.32,0.38,0.00,0.06,0.00,...,0.040,0.030,0,0.244,0.081,0.000,1.729,43,749,1
10,0.00,0.00,0.00,0,0.00,0.00,0.96,0.00,0.00,1.92,...,0.000,0.000,0,0.462,0.000,0.000,1.312,6,21,1
11,0.00,0.00,0.25,0,0.38,0.25,0.25,0.00,0.00,0.00,...,0.022,0.044,0,0.663,0.000,0.000,1.243,11,184,1
12,0.00,0.69,0.34,0,0.34,0.00,0.00,0.00,0.00,0.00,...,0.000,0.056,0,0.786,0.000,0.000,3.728,61,261,1
13,0.00,0.00,0.00,0,0.90,0.00,0.90,0.00,0.00,0.90,...,0.000,0.000,0,0.000,0.000,0.000,2.083,7,25,1
14,0.00,0.00,1.42,0,0.71,0.35,0.00,0.35,0.00,0.71,...,0.000,0.102,0,0.357,0.000,0.000,1.971,24,205,1

In [110]:
y = email[[57]]

In [111]:
y.head()

   57
0   1
1   1
2   1
3   1
4   1

In [112]:
X = email.iloc[:,0:57]
X.head()

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
0,0.00,0.64,0.64,0,0.32,0.00,0.00,0.00,0.00,0.00,...,0,0.00,0.000,0,0.778,0.000,0.000,3.756,61,278
1,0.21,0.28,0.50,0,0.14,0.28,0.21,0.07,0.00,0.94,...,0,0.00,0.132,0,0.372,0.180,0.048,5.114,101,1028
2,0.06,0.00,0.71,0,1.23,0.19,0.19,0.12,0.64,0.25,...,0,0.01,0.143,0,0.276,0.184,0.010,9.821,485,2259
3,0.00,0.00,0.00,0,0.63,0.00,0.31,0.63,0.31,0.63,...,0,0.00,0.137,0,0.137,0.000,0.000,3.537,40,191
4,0.00,0.00,0.00,0,0.63,0.00,0.31,0.63,0.31,0.63,...,0,0.00,0.135,0,0.135,0.000,0.000,3.537,40,191

In [113]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4)

In [114]:
classifier = MultinomialNB()

In [115]:
classifier.fit(X_train, y_train)

/Users/joshuahiggins/tiyd/homework/spambase/spambase/.direnv/python-3.4.3/lib/python3.4/site-packages/sklearn/utils/validation.py:449: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [116]:
classifier.score(X_train, y_train)

0.76811594202898548

In [117]:
classifier.score(X_test, y_test)

0.77403585008147746

##The model does just as well on the test data (.81 vs .80).

#Part 2, Using SMS Spam Database

In [118]:
from sklearn.pipeline import Pipeline

In [123]:
sms = pd.read_csv("SMSSpamCollection", sep="\t", header=None)
sms.head(25)

       0                                                  1
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...
5   spam  FreeMsg Hey there darling it's been 3 week's n...
6    ham  Even my brother is not like to speak with me. ...
7    ham  As per your request 'Melle Melle (Oru Minnamin...
8   spam  WINNER!! As a valued network customer you have...
9   spam  Had your mobile 11 months or more? U R entitle...
10   ham  I'm gonna be home soon and i don't want to tal...
11  spam  SIX chances to win CASH! From 100 to 20,000 po...
12  spam  URGENT! You have won a 1 week FREE membership ...
13   ham  I've been searching for the right words to tha...
14   ham                I HAVE A DATE ON SUNDAY WITH WILL!!
15  spam  XXXMobileMovieClub: To use your credit, click ...
16   ham                         Oh k...i'm watching here:)
17   ham  Eh u remember how 2 spell his name... Yes i di...
18   ham  Fine if thats the way u feel. Thats the way ...
19  spam  England v Macedonia - dont miss the goals/team...
20   ham          Is that seriously how you spell his name?
21   ham    I‘m going to try for 2 months ha ha only joking
22   ham  So ü pay first lar... Then when is da stock co...
23   ham  Aft i finish my lunch then i go str down lor. ...
24   ham  Ffffffffff. Alright no way I can meet up with ...

In [124]:
sms_spam = sms

In [125]:
sms_spam.columns = ["Spam", "Text"]
sms_spam.head()

   Spam                                               Text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [126]:
sms.head()

   Spam                                               Text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [127]:
sms_y = sms.Spam
sms_y.head()

0     ham
1     ham
2    spam
3     ham
4     ham
Name: Spam, dtype: object

In [129]:
sms_X = sms.Text
sms_X.head()

0    Go until jurong point, crazy.. Available only ...
1                        Ok lar... Joking wif u oni...
2    Free entry in 2 a wkly comp to win FA Cup fina...
3    U dun say so early hor... U c already then say...
4    Nah I don't think he goes to usf, he lives aro...
Name: Text, dtype: object

In [130]:
sms_X_train, sms_X_test, sms_y_train, sms_y_test = train_test_split(sms_X, sms_y, test_size= 0.4)

In [131]:
sms_y_train.head()

3449    ham
563     ham
3497    ham
3149    ham
4712    ham
Name: Spam, dtype: object

In [132]:
sms_X_train.head()

3449    Its  &lt;#&gt; k here oh. Should i send home f...
563     Geeeee ... I love you so much I can barely sta...
3497    Happy birthday... May u find ur prince charmin...
3149    CHEERS U TEX MECAUSE U WEREBORED! YEAH OKDEN H...
4712    Huh so slow i tot u reach long ago liao... U 2...
Name: Text, dtype: object

In [133]:
sms_y_test.head()

3438    ham
944     ham
3181    ham
1041    ham
1330    ham
Name: Spam, dtype: object

In [134]:
sms_X_test.head()

3438                        Then what about further plan?
944     And also I've sorta blown him off a couple tim...
3181    There the size of elephant tablets & u shove u...
1041    Today am going to college so am not able to at...
1330    I dont know what to do to come out of this so ...
Name: Text, dtype: object

In [135]:
sms_pipe = Pipeline([('bag_of_words', CountVectorizer()),
                      ('bayes', MultinomialNB())])
sms_pipe

Pipeline(steps=[('bag_of_words', CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)), ('bayes', MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))])

In [136]:
sms_pipe.fit(sms_X_train, sms_y_train)

Pipeline(steps=[('bag_of_words', CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)), ('bayes', MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))])

In [137]:
sms_pipe.score(sms_X_test, sms_y_test)

0.98833557649170034

This seems like a very effective spam filter!

In [138]:
vectorizer = CountVectorizer()

In [139]:
vectorizer.fit(sms_X_test)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [140]:
vectorizer.get_feature_names()[100:500]

['09050000301',
 '09050000928',
 '09050001295',
 '09050001808',
 '09050002311',
 '09050003091',
 '09050090044',
 '09050280520',
 '09053750005',
 '09056242159',
 '09058091854',
 '09058094507',
 '09058094565',
 '09058094594',
 '09058094599',
 '09061104276',
 '09061209465',
 '09061213237',
 '09061221061',
 '09061221066',
 '09061701444',
 '09061701461',
 '09061701851',
 '09061702893',
 '09061743806',
 '09061744553',
 '09061790121',
 '09061790126',
 '09063440451',
 '09063442151',
 '09064011000',
 '09064012160',
 '09064015307',
 '09064017295',
 '09064019014',
 '09064019788',
 '09065069154',
 '09065171142',
 '09065989180',
 '09065989182',
 '09066350750',
 '09066358152',
 '09066362206',
 '09066362220',
 '09066362231',
 '09066364311',
 '09066368753',
 '09066382422',
 '09066612661',
 '09066660100',
 '09071512432',
 '09071517866',
 '09077818151',
 '09090204448',
 '09094100151',
 '09095350301',
 '09096102316',
 '09099725823',
 '09099726395',
 '09099726429',
 '09099726481',
 '0quit',
 '10',
 '100',
 '1000',
 '1000call',
 '1000s',
 '1030',
 '10am',
 '10k',
 '10p',
 '10ppm',
 '11',
 '1120',
 '113',
 '11mths',
 '11pm',
 '12',
 '1205',
 '121',
 '123',
 '125gift',
 '128',
 '12hours',
 '12hrs',
 '12mths',
 '130',
 '1327',
 '139',
 '140',
 '140ppm',
 '145',
 '1450',
 '14thmarch',
 '15',
 '150',
 '150p',
 '150p16',
 '150pm',
 '150ppermesssubscription',
 '150ppm',
 '150ppmpobox10183bhamb64xe',
 '150pw',
 '151',
 '153',
 '16',
 '169',
 '177',
 '18',
 '180',
 '1956669',
 '1b6a5ecef91ff9',
 '1er',
 '1hr',
 '1mega',
 '1st',
 '1stchoice',
 '1thing',
 '1winaweek',
 '1x150p',
 '20',
 '200',
 '2000',
 '2003',
 '2004',
 '2006',
 '20p',
 '21',
 '21870000',
 '220',
 '220cm2',
 '2309',
 '24',
 '24m',
 '25',
 '250',
 '255',
 '25p',
 '26',
 '2667',
 '26th',
 '28',
 '2814032',
 '28days',
 '29',
 '2day',
 '2exit',
 '2geva',
 '2go',
 '2lands',
 '2marrow',
 '2moro',
 '2morow',
 '2morro',
 '2morrow',
 '2morrowxxxx',
 '2mrw',
 '2nd',
 '2nhite',
 '2nite',
 '2optout',
 '2p',
 '2px',
 '2rcv',
 '2stoptxt',
 '2u2',
 '2wks',
 '2wt',
 '2wu',
 '2yr',
 '30',
 '300',
 '300603',
 '300603t',
 '300p',
 '3030',
 '30ish',
 '30pm',
 '30pp',
 '30s',
 '31',
 '310303',
 '32',
 '32000',
 '33',
 '330',
 '350',
 '3510i',
 '3650',
 '36504',
 '3750',
 '37819',
 '391784',
 '3d',
 '3days',
 '3g',
 '3gbp',
 '3mins',
 '3optical',
 '3qxj9',
 '3rd',
 '3ss',
 '3x',
 '3xx',
 '40',
 '400',
 '400mins',
 '400thousad',
 '402',
 '40411',
 '40533',
 '40gb',
 '41685',
 '42810',
 '430',
 '434',
 '440',
 '4403ldnw1a7rw18',
 '44345',
 '447797706009',
 '448712404000',
 '449050000301',
 '450p',
 '450ppw',
 '45239',
 '4742',
 '4882',
 '49557',
 '4eva',
 '4few',
 '4fil',
 '4get',
 '4info',
 '4jx',
 '4mths',
 '4qf2',
 '4t',
 '4th',
 '4the',
 '4u',
 '4w',
 '4ward',
 '4wrd',
 '50',
 '500',
 '5000',
 '50ea',
 '50p',
 '50perwksub',
 '50ppm',
 '515',
 '5249',
 '530',
 '542',
 '5digital',
 '5free',
 '5k',
 '5min',
 '5p',
 '5th',
 '5wb',
 '5we',
 '60',
 '6031',
 '60p',
 '61200',
 '61610',
 '62220cncl',
 '62468',
 '630',
 '65',
 '650',
 '69200',
 '69669',
 '69866',
 '69911',
 '6days',
 '6hrs',
 '6ish',
 '6missed',
 '6months',
 '6pm',
 '6th',
 '6wu',
 '7250i',
 '731',
 '74355',
 '75',
 '750',
 '75max',
 '7634',
 '7684',
 '786',
 '7ish',
 '7pm',
 '7th',
 '7ws',
 '800',
 '8000930705',
 '80062',
 '8007',
 '80082',
 '80086',
 '80160',
 '80182',
 '8027',
 '80488',
 '80608',
 '81010',
 '81151',
 '81303',
 '81618',
 '82050',
 '82242',
 '82277',
 '82324',
 '83118',
 '83222',
 '83338',
 '83355',
 '83600',
 '84025',
 '84199',
 '850',
 '85023',
 '85069',
 '85555',
 '86021',
 '86688',
 '87021',
 '87066',
 '87070',
 '87131',
 '8714714',
 '872',
 '87239',
 '87575',
 '88039',
 '88222',
 '88600',
 '88888',
 '89080',
 '89105',
 '89693',
 '89938',
 '8am',
 '8ball',
 '8p',
 '8th',
 '8wp',
 '900',
 '9153',
 '92h',
 '9307622',
 '945',
 '9755',
 '9758',
 '97n7qp',
 '99',
 '9996',
 '9ae',
 '9am',
 '9ja',
 '9pm',
 '9t',
 '9th',
 '9yt',
 '____',
 'a21',
 'a30',
 'aaniye',
 'aaooooright',
 'aathi',
 'abeg',
 'aberdeen',
 'abiola',
 'abj',
 'able',
 'about',
 'aboutas',
 'abroad',
 'absence',
 'absolutly',
 'abt',
 'aburo',
 'abuse',
 'abusers',
 'ac',
 'academic',
 'acc',
 'access',
 'accessible',
 'accident',
 'accidentally',
 'accommodation',
 'accordin',
 'accordingly',
 'account',
 'accounts',
 'achan']

In [141]:
sms_pipe_2 = Pipeline([('bag_of_words', CountVectorizer(ngram_range=(1, 3))),
                      ('bayes', MultinomialNB())])
sms_pipe

Pipeline(steps=[('bag_of_words', CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)), ('bayes', MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))])

In [142]:
sms_pipe_2.fit(sms_X_train, sms_y_train)

Pipeline(steps=[('bag_of_words', CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 3), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)), ('bayes', MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))])

In [143]:
sms_pipe_2.score(sms_X_test, sms_y_test)

0.98698968147151189

This is a really good score too, but it seems like adding ngram pairs up to 3 doesn't really improve the filter.

In [144]:
sms.head()

   Spam                                               Text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [151]:
ham = sms[sms.Spam == 'ham']

In [152]:
ham.head()

  Spam                                               Text
0  ham  Go until jurong point, crazy.. Available only ...
1  ham                      Ok lar... Joking wif u oni...
3  ham  U dun say so early hor... U c already then say...
4  ham  Nah I don't think he goes to usf, he lives aro...
6  ham  Even my brother is not like to speak with me. ...

In [153]:
spam = sms[sms.Spam == 'spam']

In [154]:
spam.head()

    Spam                                               Text
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
5   spam  FreeMsg Hey there darling it's been 3 week's n...
8   spam  WINNER!! As a valued network customer you have...
9   spam  Had your mobile 11 months or more? U R entitle...
11  spam  SIX chances to win CASH! From 100 to 20,000 po...

In [155]:
ham_only_files = ham.Text

In [156]:
ham_only_files.head()

0    Go until jurong point, crazy.. Available only ...
1                        Ok lar... Joking wif u oni...
3    U dun say so early hor... U c already then say...
4    Nah I don't think he goes to usf, he lives aro...
6    Even my brother is not like to speak with me. ...
Name: Text, dtype: object

In [157]:
spam_only_files = spam.Text

In [158]:
spam_only_files.head()

2     Free entry in 2 a wkly comp to win FA Cup fina...
5     FreeMsg Hey there darling it's been 3 week's n...
8     WINNER!! As a valued network customer you have...
9     Had your mobile 11 months or more? U R entitle...
11    SIX chances to win CASH! From 100 to 20,000 po...
Name: Text, dtype: object

In [159]:
pd.DataFrame(sms_pipe.predict(spam_only_files))[0].value_counts()

spam    713
ham      34
dtype: int64

Filter catches 713 out of 747 spam messages.

In [161]:
pd.DataFrame(sms_pipe.predict(ham_only_files))[0].value_counts()

ham     4808
spam      17
dtype: int64

Filter classifies 17 out of 4825 ham messages incorrectly.